<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Black Three"
            id="BlackThree">
      </category>
      <view
            name="Board View"
            icon="icons/sample.gif"
            category="BlackThree"
            class="boardview.views.BoardView"
            id="boardview.views.BoardView">
      </view>
   </extension>
   
   <extension
         point="org.eclipse.ui.views">
      <category
            name="Black Three"
            id="BlackThree">
      </category>
      <view
            name="Server Console"
            icon="icons/sample.gif"
            category="BlackThree"
            class="boardview.views.ServerConsoleView"
            id="boardview.views.ServerConsoleView">
      </view>
   </extension>
   
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="boardview.views.LiveBoard"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.TaskList">
         </view>
      </perspectiveExtension>
   </extension>

</plugin>
